﻿@*
 *  PKCS #7 App - demonstrate PKCS #7 manipulation using WebAssembly
 *  Copyright (C) 2021 Frank Engler
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *@

@page "/"
@inject ISignatureStore signatureStore

<h1>File</h1>

<p><InputFile class="btn" OnChange="@LoadFiles" multiple /></p>

@if (isLoading)
{
    <p>Loading files...</p>
}

@if (signatureStore.Signatures.Any() == true)
{
    <h2>Signatures</h2>
    <ul>
        @foreach (var file in signatureStore.Signatures)
        {
            if (@file.isSignature)
            {
            <li>
                <ul>
                    <li>Name: @file.FileName</li>
                    <li>Last modified: @file.FileLastModified.ToString()</li>
                    <li>Size (bytes): @file.FileSize</li>
                    <li>Content type: @file.FileContentType</li>
                </ul>
            </li>
            }
        }
    </ul>
    <MergeSignatures />
    <h2>Other Files</h2>
    <ul>
        @foreach (var file in signatureStore.Signatures)
        {
            if (!@file.isSignature)
            {
            <li>
                <ul>
                    <li>Name: @file.FileName</li>
                    <li>Last modified: @file.FileLastModified.ToString()</li>
                    <li>Size (bytes): @file.FileSize</li>
                    <li>Content type: @file.FileContentType</li>
                </ul>
            </li>
            }
        }
    </ul>
}

@code {
    private bool isLoading;

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;
        foreach (var file in e.GetMultipleFiles(e.FileCount))
        {
            try
            {
                await signatureStore.AddSignatureFileAsync(file);
            }
            catch (Exception ex)
            {
                Console.WriteLine("Error processing file {0}: {1}", file.Name, ex.Message);
            }
        }
        isLoading = false;
    }
}