@*
 *  PKCS #7 App - demonstrate PKCS #7 manipulation using WebAssembly
 *  Copyright (C) 2021 Frank Engler
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *@

@inject ISignatureStore signatureStore
@inject IJSRuntime js

<p>
    <label for="filename">File Name:</label>
    <input type="text" id="filename" @bind-value="filename" />
    <button class="btn btn-primary" @onclick="OutputFile">Merge...</button>
</p>

@code {
    private readonly string filenameDefault = "Merged.pkcs7";
    private string filename;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        filename = filenameDefault;
    }

    private async Task OutputFile()
    {
        filename = (filename.Length == 0) ? filenameDefault : filename;
        await using (var module = await js.InvokeAsync<IJSObjectReference>("import",
            "./js/saveAsFile.js"))
        {
            await module.InvokeVoidAsync("saveAsFile", filename,
                "application/pkcs7-signature",
                Convert.ToBase64String(signatureStore.MergeSignatures()));
        }
    }
}